{%- connect settings = "@codevault/sql-logging" -%}
{%- fetch package = 'package.json' -%}
{%- fetch core = 'core.json' -%}
{%- fetch table = 'tables.json', objectName = 'records' -%}
{%- set dataTypes = core.dataTypes -%}
{%- set schemaName = table.schemaName if table.schemaName else settings.schemaName -%}
{%- set internalColumns = core.internalColumns | pickBy(core.objectType.logging) | keyBy('code') -%}

PRINT '--- codeVault package [{{package.name}}:{{package.version}}]'
SET NOCOUNT ON;

PRINT '--- TEST FUNCTIONS ---'
{% include 'fn/formatMessage.test.sql' %}

PRINT '--- TEST PROCEDURES ---'
DECLARE @test varchar(150) = ''
DECLARE @expect varchar(max) = ''
DECLARE @actual varchar(max) = ''
{% for logLevel in settings.logLevels %}
-- Test [{{logLevel}}]
SET @test = 'info'
SET @expect = '{{logLevel}} message'
EXEC [{{schemaName}}].[{{logLevel}}] 'testSession', 'testPackage', 'testObject', @expect
SELECT TOP 1 @actual = JSON_VALUE(detail, '$.message') 
FROM [{{schemaName}}].[{{table.tableName}}] 
WHERE {{ internalColumns.sessionNo.name }} = 'testSession'
ORDER BY {{ internalColumns.createDate.name}} DESC

PRINT '--- ' + CASE 
  WHEN @expect = @actual THEN 'PASSED' 
  ELSE 'FAILED' 
  END + ' [' + @test + ']: Expected: [' + @expect + '] Actual: [' + @actual +']'

{% endfor %}
